<!DOCTYPE html>  
<head>
	<meta charset="gb2312">
	<title>Dota2TiGo</title>
	<script type="text/javascript" src="{{ url_for('static', filename='d3.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='myfunc/pie.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='myfunc/bar.js') }}"></script>	
	<script src="{{ url_for('static', filename='myfunc/d3.tip.v0.6.3.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='myfunc/bar.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='myfunc/nav.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='myfunc/bottom.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='myfunc/txt.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='myfunc/bodyStyle.css') }}">
</head>

<body class="bodyStyle">	
	<div>	
		<div align="center">
			<img align ="center" src="{{ url_for('static', filename='img/title2.png') }}" width="100%" height="180px"/>
		</div>
	</div>

	<div>
		<div class="nav" align="center">
			<ul>
			<li><a href="../league">League</a></li>
			<li>
			<form id="_form" method="POST" action="/team">
			  <input type="hidden" name="ptid" value="1"/> 
			</form>
			<a onclick="document.getElementById('_form').submit();" href="#">Team</a>
			</li>
			<li>
			<form id="_form_" method="POST" action="/match">
			  <input type="hidden" name="mid" value="1"/> 
			</form>
			<a onclick="document.getElementById('_form_').submit();" href="#">Match</a>
			</li>
			<li><a href="../hero">Hero</a></li>
			<li><a href="../item">Item</a></li>
			<li><a href="../player">Player</a></li>
			<li><a href="../summary">Summary</a></li>
			<li><a href="../inference">Inference</a></li>
			</ul>
		</div>
	</div>

	<div class="title"><h1 align="center">Our statistic Summary about TI data</h1></div>

	<div>
		<div class="list", align="center">
			<ul>
			<li><h4>Wining hero combination: </h4>
				<div class='list', align='center'>
					<ul>
						{% for n in data %}
		                <li>
		                <form id="_form{{n[0]}}" method="POST" action="/hero/search">
						<input type="hidden" name="heroid" value="{{n[0]}}"/> 
						</form>
						<form id="_form{{n[1]}}" method="POST" action="/hero/search">
						<input type="hidden" name="heroid" value="{{n[1]}}"/> 
						</form>
		                hero1: <a onclick="document.getElementById('_form{{n[0]}}').submit();" href="#">{{n[0]}}</a>, hero2: 
						<a onclick="document.getElementById('_form{{n[1]}}').submit();" href="#">{{n[1]}}</a>, win rate: {{n[2]}}
		                </li>
		                {% endfor %}
					</ul>
				</div>
			</li>
			</ul>
		</div>
	</div>

	
	



	<div style="clear:both">
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
	</div>
	
	<div class="bottom">
		<ul>
		<li><a>Copy Right&copy;Han Xu, Yu Wang&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
		<li><a>Columbia University in the City of New York</a></li>
		</ul>
	</div>

	 <script>
	     function verify(){
	        //get element
	        var form=document.getElementById('form');
	        var inputArray=form.getElementsByTagName("input");
	        var inputArrayLength=inputArray.length;
	        //循环input元素数组
	        for(var int=0;int<inputArrayLength;int++){
	            //判断每个input元素的值是否为空
	            if( inputArray[int].value==null || inputArray[int].value=='' 
	            		|| inputArray[int].value < 1 || inputArray[int].value > 7){
	                alert('Pleas Input number from 1 to 7');
	                return false;
	            }
	        }
	        return true;
	    }
	 </script>

</body>