<!DOCTYPE html>  
<head>
	<meta charset="gb2312">
	<title>Dota2TiGo</title>
	<script type="text/javascript" src="{{ url_for('static', filename='d3.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='myfunc/pie.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='myfunc/bar.js') }}"></script>	
	<script src="{{ url_for('static', filename='myfunc/d3.tip.v0.6.3.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='myfunc/bar.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='myfunc/nav.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='myfunc/bottom.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='myfunc/txt.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='myfunc/bodyStyle.css') }}">
</head>

<body class="bodyStyle">	
	<div>	
		<div align="center">
			<img align ="center" src="{{ url_for('static', filename='img/title2.png') }}" width="100%" height="180px"/>
		</div>
	</div>

	<div>
		<div class="nav" align="center">
			<ul>
			<li><a href="../league">League</a></li>
			<li>
			<form id="_form" method="POST" action="/team">
			  <input type="hidden" name="ptid" value="1"/> 
			</form>
			<a onclick="document.getElementById('_form').submit();" href="#">Team</a>
			</li>
			<li>
			<form id="_form_" method="POST" action="/match">
			  <input type="hidden" name="mid" value="1"/> 
			</form>
			<a onclick="document.getElementById('_form_').submit();" href="#">Match</a>
			</li>
			<li><a href="../hero">Hero</a></li>
			<li><a href="../item">Item</a></li>
			<li><a href="../player">Player</a></li>
			<li><a href="../summary">Summary</a></li>
			<li><a href="../inference">Inference</a></li>
			</ul>
		</div>
	</div>

	<div class="title"><h1 align="center">Our statistic Summary about TI data</h1></div>

	<div>
		<div class="list", align="center">
			<ul>
			<li><h4>Most Common Hero Used:</h4>
				{% for n in hero %}
					<form id="_form_hero{{n[0][0]}}" method="POST" action="/hero/search">
					<input type="hidden" name="heroid" value="{{n[0][0]}}"/> 
					</form>
					Hero: <a onclick="document.getElementById('_form_hero{{n[0][0]}}').submit();" href="#">{{n[0][1]}}</a>, appearances: {{n[1]}};
                {% endfor %}</li>
			<!-- <li><h4>Most Common Item Used:</h4>
				{% for n in item %}
					<form id="_form_item{{n[0]}}" method="POST" action="/item/search">
					<input type="hidden" name="iid" value="{{n[0]}}"/> 
					</form>
					item id: <a onclick="document.getElementById('_form_item{{n[0]}}').submit();" href="#">{{n[0]}}</a>, appearances: {{n[1]}};
                {% endfor %}</li> -->
            <li><br></br></li>
			<li><B>Most Kill:</B> {{data[0][0]}}</li>
			<li><B>Most GPM:</B> {{data[0][1]}}</li>
			<li><B>Most XPM:</B> {{data[0][2]}}</li>
			</ul>
			<!-- <br>
			<br> -->
		</div>
	</div>

	<div align="center">
	   	<table id="generatedTable" border="1">  
            <thead>  
                <tr align="center">  
                    <th style='width:20%;'>League</th>   
                    <th style='width:20%;'>Champion</th>  
                    <th style='width:20%;'>Runner Up</th>               
                </tr align="center">  
            </thead>  
            <tbody>  
                {% for n in rank %}
                <tr id="cloneTr">  
                   <td align="center">
                   	<form id="_form{{n[0]}}" method="POST" action="/league/search">
					<input type="hidden" name="lid" value="{{n[0]}}"/> 
					</form>
					<a onclick="document.getElementById('_form{{n[0]}}').submit();" href="#">The International {{n[0]}}</a>
                   </td>
                   <td align="center">
                   	<form id="_form_team{{n[1]}}" method="POST" action="/team">
					<input type="hidden" name="ptid" value="{{n[1]}}"/> 
					</form>
					<a onclick="document.getElementById('_form_team{{n[1]}}').submit();" href="#">{{n[2]}}</a>
                   </td>
                   <td align="center">
                   	<form id="_form_team{{n[3]}}" method="POST" action="/team">
					<input type="hidden" name="ptid" value="{{n[3]}}"/> 
					</form>
					<a onclick="document.getElementById('_form_team{{n[3]}}').submit();" href="#">{{n[4]}}</a>
                   </td>
                </tr>  
                {% endfor %}
             </tbody>  
 		</table>  
	</div> 

	
	



	<div style="clear:both">
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>
	</div>
	
	<div class="bottom">
		<ul>
		<li><a>Copy Right&copy;Han Xu, Yu Wang&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
		<li><a>Columbia University in the City of New York</a></li>
		</ul>
	</div>

	 <script>
	     function verify(){
	        //get element
	        var form=document.getElementById('form');
	        var inputArray=form.getElementsByTagName("input");
	        var inputArrayLength=inputArray.length;
	        //循环input元素数组
	        for(var int=0;int<1;int++){
	            //判断每个input元素的值是否为空
	            if( !($.isNumeric(inputArray[int].value)) ||inputArray[int].value==null || inputArray[int].value=='' 
	            		|| inputArray[int].value < 1 || inputArray[int].value > 7){
	                alert('Pleas Input number from 1 to 7');
	                return false;
	            }
	        }
	        return true;
	    }
	 </script>

</body>