.bottom ul{
    width:100%;
    height:50px;
    margin:0 auto;
    background:#0C426F;
	/*position:center fixed;*/
	position:fixed;
    bottom:0;
	list-style-type:none;
}



.bottom ul li a{
height:25px;
line-height:25px;
background:#0C426F;
color:white;
margin:0px auto;
font-size:16px;
display:block;
text-decoration:none;
}